.header {
    margin-top: 60px;

}

.headertitle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.subheading{
    position: absolute;
    top: 20%;
    font-size: 100px;
    color: #444;
}

.main-img{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}

